@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Users/Index.js")
}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="UserName" class="layui-input searchVal" placeholder="请输入用户名" />
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="PhoneNumber" class="layui-input searchVal" placeholder="请输入手机号码" />
                </div>
                <div class="layui-input-inline">
                    <select name="IsActive">
                        <option value="">用户状态</option>
                        <option value="true">可用</option>
                        <option value="false">不可用</option>
                    </select>
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal addUser_btn">添加用户</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
            </div>
        </form>
    </blockquote>
    <table id="userList" lay-filter="userList"></table>
    <!--操作-->
    <script type="text/html" id="userListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="activeSwitchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="isActive" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="isActive" {{ d.isActive == 1 ? 'checked' : '' }}>
    </script>
</form>